/*****************************************************************************
  TABLE OF CONTENT

  1. SPLASH SCREEN
  2. FEATURES
  3. F.A.Q
******************************************************************************/
body {
  background-color: #dddddd;
  color: #222831;
  font-family: 'Rubik', sans-serif;
}

#main-container {
  height: 100vh;
}

#main-container::after {
  content: "";
  background-image: url("../images/pexels-rodrigo-santos-3888149.jpg");
  background-color: #dddddd;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: screen;
  /* opacity: 0.4; */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.navbar {
  background-image: linear-gradient(180deg, rgba(34, 40, 49, 1) 0%, rgba(34, 40, 49, 0) 100%);
}

.navbar-dark .navbar-brand {
  color: #D7DED3;
}

.navbar-dark .navbar-brand:hover {
  color: #D7DED3;
}

/*****************************************************************************/
/*************************** 1. SPLASH SCREEN ********************************/
/*****************************************************************************/
.slider-container {
  position: relative;
  overflow: hidden;
  width: 50vw;
  height: 90vh;
}

.left-slide {
  height: 100%;
  width: 65%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.left-slide>div {
  /* height: 100%;
  width: 100%; */
}

/* .left-slide h2 {
  width: 100%;
  margin-bottom: 30px;
  margin-top: -30px;
  text-align: left;
} */

.left-slide ul {
  list-style-type: circle;
  /* line-height: 1.5;
  padding-left: 20px; */
}

.right-slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 65%;
  width: 35%;
  transition: transform 0.5s ease-in-out;
}

.right-slide>div {
  /* height: 100%;
  width: 100%; */
  /* display: flex;
  justify-content: center; */
}

.right-slide>div>img {
  border-radius: 20px;
  /* object-fit: contain; */
  /* width: auto;
  height: auto; */
}

.down-button, .up-button {
  background-color: #30475e;
  border: none;
  color: #dddddd;
  cursor: pointer;
  /* font-size: 16px; */
  padding: 15px;
  opacity: 0.5
}

.down-button:hover, .up-button:hover {
  background-color: #30475e;
  opacity: 1;
  transition: opacity 0.75s ease-in-out;
}

.slider-container .action-buttons button {
  position: absolute;
  left: 65%;
  top: 50%;
  z-index: 100;
}

.slider-container .action-buttons .down-button {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.slider-container .action-buttons .up-button {
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/*****************************************************************************/
/******************************* 2. FEATURES *********************************/
/*****************************************************************************/
#download {
  height: 100vh;
  /* background-image: linear-gradient(180deg, #222831 0%, #30475e 100%); */
}

.download-container {
  max-width: 600px;
  margin: auto;
}

#download h2 {
  text-align: center;
}

.download {
  background: #30475e;
  border: 1px solid #dddddd;
  border-radius: 5px;
  color: #dddddd;
  height: 65px;
  position: relative;
  width: 200px;
}

.download>.fab {
  left: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.df, .dfn {
  left: 70px;
  position: absolute;
}

.df {
  font-size: .9rem;
  top: 13px;
}

.dfn {
  font-size: 1.3rem;
  top: 26px;
}

.download:hover {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}



/* .gallery-container .container {
  max-width: 600px;
} */

/*****************************************************************************/
/********************************* 3. F.A.Q **********************************/
/*****************************************************************************/
#faq-section {
  height: 100vh;
  /* background-image: linear-gradient(180deg, #30475e 0%, #222831 100%); */
}

.faq-container {
  max-width: 600px;
  margin: auto;
}

.faq-container h2 {
  text-align: center;
}

.faq {
  background-color: transparent;
  border: 1px solid #222831;
  border-radius: 10px;
  margin: 20px 0;
  padding: 30px;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease;
}

.faq.active {
  /* background-color: #dddddd; */
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.faq-title {
  margin: 0 35px 0 0;
}

.faq-text {
  display: none;
  margin: 30px 0 0;
  line-height: 1.5;
}

.faq.active .faq-text {
  display: block;
}

.faq-toggle {
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-size: 1rem; */
  padding: 0;
  position: absolute;
  top: 30px;
  right: 30px;
  height: 30px;
  width: 30px;
}

.fa-chevron-down {
  color: #222831;
}

.faq-toggle .fa-times {
  display: none;
}

.faq.active .faq-toggle .fa-times {
  color: #222831;
  display: block;
}

.faq.active .faq-toggle .fa-chevron-down {
  display: none;
}

.faq.active .faq-toggle {
  background-color: #dddddd;
}

code {
  display: inline-block;
  padding: 2px;
  white-space: pre-line;
  background-color: #30475e;
  color: #dddddd;
  border-radius: 5px;
  /* font-size: 1rem; */
}
